 

 
 @import url(components/stracture.css);
 @import url(components/variable.css);



 .container {
     max-width: 850px;
     margin: 70px auto;
     
 }

 .top-bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 25px;
     flex-wrap: wrap;
     gap: 15px;
 }

 .header-titles {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }


 .main-title {
     background-color: var(--second-color);
     color: var(--white);
     padding: 10px 20px;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 700;
 }


 /* 3 buttons about day tomorrow and yestorday */
 .filter-buttons {
     display: flex;
     gap: 8px;
 }

 .btn-filter {
     padding: 10px 18px;
     border-radius: 8px;
     text-decoration: none;
     color: #fff;
     font-weight: 700;
     font-size: 13px;
    
 }

 .btn-tomorrow {
     background-color: #1e70bf;
 }

 .btn-today {
     background-color: #510505;
 }

 .btn-yesterday {
     background-color: #7b1fa2;
 }




 .match-container {
     background-color: var(--white);
     border: 1px solid var(--second-color);
     border-radius: 14px;
     box-shadow: 0 4px 15px #0000000a;
    
     cursor: pointer;
     transition: transform 0.2s ease;
 }

 .match-container:hover {
     transform: translateY(-2px);
 }

 .match-card {
     display: grid;
     grid-template-columns: 1fr 180px 1fr;
     align-items: center;
     padding: 24px 30px;
     text-align: center;
    
 }

 .team {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 12px;
     
 }

 .team img {
     width: 100px;
     height: 100px;
     object-fit: contain;
 }

 .team-name {
     font-size: 15px;
     font-weight: 700;
     color: var(--second-color) ;
 }

.match-info {
     display: flex;
     flex-direction: column;
     align-items: center;
    
 }

 .match-time {
     font-size: 12px;
     color: var(--text);
     font-weight: 600;
     margin-bottom: 6px;
 }

 .live-score-display {
     font-size: 32px;
     font-weight: 800;
     color: var(--second-color);
     letter-spacing: 6px;
     margin: 2px 0;
 }


 .match-status {
     color: var(--white);
     font-size: 11px;
     padding: 5px 16px;
     border-radius: 20px;
     font-weight: 700;
     background-color: red;
 }



 .back-home {
     display: inline-flex;
     align-items: center;
     gap: 8px;
     margin-top: 25px;
     color: #510505;
     text-decoration: none;
     font-weight: 700;
 }

 @keyframes pulse {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0.5;
     }

     100% {
         opacity: 1;
     }
 }
