



/* FOOTER */
.footer {
    margin-top: -90px;
    padding: 60px 40px 20px 40px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.foot__title {
    font-size: 2rem;
    margin-bottom: 10px;
   
}

.foot__text {
    color: var(--second-color);
    font-size: 0.9rem;
    margin-bottom: 25px;
   
}


.cta__divider {
    margin-bottom: 25px;
}




/* Bottom Bar */
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.footer__bottom i{
     font-size: 40px;
     color: var(--second-color);
}

.footer__copyright {
    font-weight: bold;
    color:var(--second-color);
  
}
/* 
sidebar-section {
    margin-bottom: 3rem;
} */

.sidebar-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    display: block;

}

/* Share Icons */
.share-icons {
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
}

.share-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid var(--second-color);
}


.share-icons a:hover {
    background:var(--second-color);
    color: var(--white);
}