header {
    background-color: var(--second-color);
    padding: 20px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Right Side */
.right-side {
    margin-right: 15px;
}


/* Nav links*/
.right-side  a{
    margin-left: 30px;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;

}


/* Left Side */
.admin-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
   
}


.admin-actions a{
   color: var(--white);
   margin-left: 15px;
}