header {
    background-color: var(--second-color);
    padding: 10px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    
}

/* Right Side */
.right-side {
    display: flex;
    align-items: center;
    gap: 60px;
    
}

/* Nav */
.right-side nav a {
    margin-left: 30px;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;

}

/* Logo */
.logo i {
    color: var(--white);
    font-size: 30px;
}

/* Left Side */
.admin-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Button */
.btn-login {
    padding: 0.6rem 40px;
    border-radius: 10px;
    color: var(--second-color);
    font-size: 14px;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid var(--white);
}