:root {
     --bg-color: #F2E9E4;
     --second-color: #0E131F;
     --white: #ffffff;
     --text: #374151;
}

/* :root {
     --bg-color: #F2E9E4;
     --second-color: #0f172a;
     --white: #16a34a;
     --text: #374151;
}
 */

/* :root {
  --primary-color: #0f172a;     
  --secondary-color: #16a34a;   
  --accent-color: #dc2626;    
  --white: #ffffff;
  --gray: #e5e7eb;
  --text-dark: #111827;
} */